<!-- TODO: Criar botão para fazer download e compartilhar qrcode -->
<div class='shortened-url'>
  <div class='qrcodeImage'>
    <!-- TODO: vir com qrcode com link encurtado -->
    <qrcode #qrCode [qrdata]="generatedUrl.url" [imageSrc]='generatedUrl.url' [width]="150" [errorCorrectionLevel]="'M'"
      colorLight='#F3F4F5' colorDark='#002233'></qrcode>
  </div>

  <div class='input-group' (click)='copyUrl(generatedUrl)'>
    <!-- TODO: vir com link encurtado -->
    <input type='text' class='form-control' disabled [(ngModel)]="generatedUrl.url">
    <button type='submit' class='btn'>
      <img src='/assets/images/copy.svg' alt='Copy URL'>
    </button>
  </div>
</div>